/nbproject/
/.java-version
/.directory
/target/
/extras/target/
/click/target/
/user-guide/target/
/examples/target/
/showcase/examples/src/main/webapp/javadoc/
/showcase/examples/src/main/webapp/click/
/showcase/examples/target/
/showcase/template/src/main/webapp/click/
/showcase/template/target/
/extras-cayenne/target/
/extras-hibernate/target/
/extras-spring/target/
